# Rust artifacts
Cargo.lock
target/

# Node artifacts
build/
prebuilds/
node_modules/
*.tgz

# Swift artifacts
.build/

# Go artifacts
go.sum
_obj/

# Python artifacts
.venv/
dist/
*.egg-info
*.whl

# C artifacts
*.a
*.so
*.so.*
*.dylib
*.dll
*.pc

# Example dirs
/examples/*/

# Grammar volatiles
*.wasm
*.obj
*.o

# Tree-sitter generated parser artifacts (regenerate via 'tree-sitter generate')
src/parser.c
src/grammar.json
src/node-types.json

# Reference TTCN code
references/code/*

# omo artifacts
.omo/
